<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
     </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>¿Quienes Somos?</h3>
  <p>
    Hablamos El Lenguaje De La Buena Comida.
  </p>
  <p>
    En Tahuá somos personas encaminadas a recordar nuestro origen y estamos buscando recuperar
    valores y darle un nuevo sabor a la vida de nuestros clientes, la comida es una fuente de cultura para 
    la región norte del Estado de Veracruz, Tahuá toma la gastronomía ancestral y usa la tecnología para 
    poder ofrecerles las recetas e ingredientes de cada uno de estas deliciosas comidas.
  </p>
  <p>
    <img src="assets/banners/b3.jpeg">
  </p>

</ion-content>
